.card {
    background: white;
    padding: 20px;
    border-radius: 14px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}